/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

@import url(../fonts/stylesheet.css);

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    background: url(../img/background_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* overflow: hidden; */
    min-height: 100%;
}

/* Sections
    ========================================================================== */

/**
  * Remove the margin in all browsers.
  */

body {
    font-family: "SolaimanLipi", Arial, sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Firefox, and Safari.
  */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
    ========================================================================== */

/**
  * 1. Add the correct box sizing in Firefox.
  * 2. Show the overflow in Edge and IE.
  */

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
    ========================================================================== */

/**
  * Remove the gray background on active links in IE 10.
  */

a {
    background-color: transparent;
}

/**
  * 1. Remove the bottom border in Chrome 57-
  * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
  */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    /* 2 */
}

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */

b,
strong {
    font-weight: bolder;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
  * Add the correct font size in all browsers.
  */

small {
    font-size: 80%;
}

/**
  * Prevent `sub` and `sup` elements from affecting the line height in
  * all browsers.
  */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
    ========================================================================== */

/**
  * Remove the border on images inside links in IE 10.
  */

img {
    border-style: none;
}

/* Forms
    ========================================================================== */

/**
  * 1. Change the font styles in all browsers.
  * 2. Remove the margin in Firefox and Safari.
  */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: inherit;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

button,
input {
    /* 1 */
    overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

button,
select {
    /* 1 */
    text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
  * Remove the inner border and padding in Firefox.
  */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
  * Restore the focus styles unset by the previous rule.
  */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
  * Correct the padding in Firefox.
  */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */

progress {
    vertical-align: baseline;
}

/**
  * Remove the default vertical scrollbar in IE 10+.
  */

textarea {
    overflow: auto;
}

/**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
  * Remove the inner padding in Chrome and Safari on macOS.
  */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive
    ========================================================================== */

/*
  * Add the correct display in Edge, IE 10+, and Firefox.
  */

details {
    display: block;
}

/*
  * Add the correct display in all browsers.
  */

summary {
    display: list-item;
}

/* Misc
    ========================================================================== */

/**
  * Add the correct display in IE 10+.
  */

template {
    display: none;
}

/**
  * Add the correct display in IE 10.
  */

[hidden] {
    display: none;
}

/* Grayscale: */

/* Colors: */

/* Background colors: */

/* Fonts Start */

/* Fonts End */

/*!
  * Bootstrap Grid v4.1.3 (https://getbootstrap.com/)
  * Copyright 2011-2018 The Bootstrap Authors
  * Copyright 2011-2018 Twitter, Inc.
  * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
  */

@-ms-viewport {
    width: device-width;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.main-container {
    width: 100%;
    padding: 0px;
    margin: 0px auto;
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;
}

.container-fluid {
    width: 100%;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto,
.col-xxl-1,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12,
.col-xxl,
.col-xxl-auto {
    position: relative;
    /* width: 100%; */
    min-height: 1px;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

/*# sourceMappingURL=custom-grid.css.map */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

html,
body {
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a,
button {
    margin: 0;
    padding: 0;
    line-height: 1;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

img {
    max-width: 100%;
}

:focus {
    outline-width: 0;
}

body {
    /* background-color: #f0f2fa; */
}

header {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #f1f1f1;
    position: fixed;
    z-index: 10;
}

.main-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    top: 90px;
}

footer {
    display: flex;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    background-color: #f1f1f1;
    font-weight: 700;
    padding: 25px 47px;
    margin-top: 90px;
}

.footer-left {
    display: flex;
    width: 30%;
    justify-content: start;
    line-height: 30px;
}

.footer-center {
    display: flex;
    width: 40%;
    justify-content: center;
    line-height: 30px;
}

.footer-right {
    display: flex;
    width: 30%;
    justify-content: right;
    line-height: 30px;
}

.footer-right .developed_by {
    display: inline-block;
    background-image: url("../img/era_orangebd_logo.png");
    background-position: top left;
    background-repeat: no-repeat;
    width: 215px;
    height: 29px;
}

.layer {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.layer.active {
    display: block;
}

.header-container {
    padding: 16px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.header-left {
    display: block;
}

.logo-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.logo {
    background-image: url("../img/logo.png");
    width: 207px;
    height: 58px;
}

.header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-right > * {
    margin-right: 15px;
}

.header-right > *:last-child {
    margin-right: 0;
}

.top-nav .notification {
    position: relative;
}

.top-nav .notification::after {
    display: none;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    border: 1px solid #fff;
    background-color: #f26464;
}

.top-nav .notification.active::after {
    display: initial;
}

.top-nav .notification-wrapper {
    position: relative;
}

.top-nav .notification-dropdown {
    right: 0;
    width: 236px;
    padding: 10px;
}

.top-nav .notification-dropdown-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 167px;
}

.top-nav .notification-dropdown__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.22;
    color: #171717;
    margin-bottom: 5px;
}

.top-nav .notification-dropdown__subtitle {
    font-size: 10px;
    line-height: 1.2;
    color: #767676;
}

.top-nav .notification-dropdown-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.top-nav .notification-dropdown-icon.info {
    background-color: rgba(88, 135, 255, 0.1);
    color: #5887ff;
}

.top-nav .notification-dropdown-icon.danger {
    background-color: rgba(242, 100, 100, 0.1);
    color: #f26464;
}

.top-nav .notification-dropdown a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-top: 15px;
}

.top-nav .notification-dropdown a.link-to-page {
    padding-top: 17px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #5887ff;
}

.top-nav .nav-user-wrapper {
    position: relative;
}

.top-nav .nav-user-wrapper .users-item-dropdown {
    width: 171px;
    right: 0;
}

.top-nav .nav-user-wrapper .users-item-dropdown svg {
    margin-right: 13px;
}

.top-nav .nav-user-wrapper .users-item-dropdown a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top-nav .nav-user-wrapper .users-item-dropdown a.danger {
    color: #f26464;
}

.top-nav .nav-user-img {
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    width: 40px;
    height: 40px;
    background-color: #f5efff;
}

.top-nav .nav-user-img picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.lang-switcher {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.75px;
    color: #767676;
}

.lang-switcher-wrapper {
    position: relative;
}

.lang-menu {
    top: 40px;
    right: 0;
    width: 125px;
}
/*added:start*/
.lang-menu li {
    display: inline-block;
    margin-right: 15px;
}
.lang-menu li:last-child {
    margin-right: 0px;
}
.lang-menu li a {
    color: #2c2d3f;
    font-size: 14px;
    font-weight: 400;
}
.lang-menu li:hover a {
    color: #069b45;
}
.lang-menu li a.active {
    color: #069b45;
    font-weight: bold;
}
/*added:end*/

.lang-menu.active {
    opacity: 1;
    visibility: visible;
}

.gray-circle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #eff0f6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-width: 0;
}

.white-circle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #eff0f6;
    width: 52px;
    height: 53px;
    border-radius: 50%;
    border-width: 0;
}

.top-nav .nav-user-img {
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    width: 44px;
    height: 44px;
    background-color: #f5efff;
}

.top-nav .nav-user-img picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

/* content of sr-only is available only for screen-readers */

.sr-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    margin: -1px;
}

/* Skip link */

.skip-link {
    background-color: #eee;
    clip: auto !important;
    -webkit-clip-path: none;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

.skip-link.sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.skip-link.sr-only:focus {
    background-color: #fff;
    clip: auto !important;
    -webkit-clip-path: none;
    clip-path: none;
    color: #767676;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(253, 253, 253, 0.4);
}

/* Basic config for all custom icons: */
.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-toggle {
    background-image: url(../img/svg/Bulk/Menu-toggle-white.svg);
    width: 24px;
    height: 24px;
}

.menu-toggle--gray {
    background-image: url(../img/svg/Bulk/Menu-toggle-gray.svg);
    width: 24px;
    height: 24px;
}

.home {
    background-image: url(../img/svg/Bulk/Home-white.svg);
    width: 24px;
    height: 24px;
}

.document {
    background-image: url(../img/svg/Bulk/Document-white.svg);
    width: 24px;
    height: 24px;
}

.folder {
    background-image: url(../img/svg/Bulk/Folder-white.svg);
    width: 24px;
    height: 24px;
}

.arrow-down {
    background-image: url(../img/svg/Bulk/Arrow-DownCircle.svg);
    width: 24px;
    height: 24px;
}

.image {
    background-image: url(../img/svg/Bulk/Image-white.svg);
    width: 24px;
    height: 24px;
}

.paper {
    width: 24px;
    height: 24px;
    background-image: url(../img/svg/Bulk/Paper-white.svg);
}

.message {
    background-image: url(../img/svg/Bulk/Message-white.svg);
    width: 24px;
    height: 24px;
}

.edit {
    background-image: url(../img/svg/Bulk/Edit-white.svg);
    width: 24px;
    height: 24px;
}

.category {
    background-image: url(../img/svg/Bulk/Category-white.svg);
    width: 24px;
    height: 24px;
}

.user-3 {
    background-image: url(../img/svg/Bulk/3-User-white.svg);
    width: 24px;
    height: 24px;
}

.setting {
    background-image: url(../img/svg/Bulk/Setting-white.svg);
    width: 24px;
    height: 24px;
}

.settings-line {
    background-image: url(../img/svg/Bulk/Settings-line.svg);
    width: 24px;
    height: 24px;
}

.avatar {
    background-image: url(../img/avatar/Avatar.svg);
    width: 56px;
    height: 56px;
}

.avatar-2 {
    background-image: url(../img/avatar/avatar-2.svg);
    width: 40px;
    height: 40px;
}

.notification {
    background-image: url(../img/notification-icon.png);
    width: 23px;
    height: 23px;
}

.site-switch-icon {
    background-image: url(../img/site-switch-icon.png);
    width: 52px;
    height: 53px;
}

.arrows-up-down {
    background-image: url(../img/svg/Bulk/Arrows-up-down.svg);
    width: 10px;
    height: 17px;
    margin-left: 10px;
}

.move {
    background-image: url(../img/svg/move.svg);
    width: 24px;
    height: 24px;
}

.radio {
    background-image: url(../img/svg/radio.svg);
    width: 24px;
    height: 24px;
}

.thumbnail {
    background-image: url(../img/svg/thumbnail.svg);
    width: 60px;
    height: 60px;
}

.time-circle {
    background-image: url(../img/svg/Bulk/TimeCircle.svg);
    width: 24px;
    height: 24px;
}

.google-drive {
    background-image: url(../img/svg/GoogleDrive.svg);
    width: 24px;
    height: 24px;
}

.dropbox {
    background-image: url(../img/svg/dropbox.svg);
    width: 24px;
    height: 24px;
}

.star {
    background-image: url(../img/svg/Bulk/Star.svg);
    width: 24px;
    height: 24px;
}

.delete {
    background-image: url(../img/svg/Bulk/Delete.svg);
    width: 24px;
    height: 24px;
}

.dropdown-btn {
    color: #b9b9b9;
    border: none;
}

/* Links */

.link-info {
    color: #5887ff;
    border-bottom: dashed 1px transparent;
}

.link-info:hover {
    color: #5887ff;
    border-bottom-color: #5887ff;
}

.dropdown {
    position: absolute;
    padding: 5px 10px;
    background-color: #fff;
    -webkit-box-shadow: 0px -2px 24px rgba(160, 163, 189, 0.25);
    box-shadow: 0px -2px 24px rgba(160, 163, 189, 0.25);
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    z-index: 3;
}

.dropdown::before {
    content: "";
    position: absolute;
    right: 6px;
    top: -10px;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #fff transparent;
}

.dropdown li:last-child a {
    border-width: 0;
}

.dropdown a {
    display: inline-block;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.43;
    color: #767676;
    border-bottom: 1px solid #eeeeee;
    text-align: left;
}

.dropdown a:hover {
    color: #2f49d1;
}

.users-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
}

.users-item a:focus {
    outline: none;
}

.users-item-body {
    padding: 20px 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.users-item__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.users-item__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.3px;
    color: #171717;
}

.users-item__role {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.3px;
    color: #767676;
}

.users-item__desc {
    max-width: 231px;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: -0.3px;
    color: #767676;
    margin-bottom: 15px;
}

.users-item__more {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.5;
}

.users-item-dropdown {
    right: 20px;
    top: 60px;
    width: 125px;
}

.users-item-dropdown.active {
    opacity: 1;
    visibility: visible;
}

.users-item .primary-white-btn {
    border-top: 1px solid #eeeeee;
    width: 100%;
}

.users-item-dropdown {
    right: 50px;
    top: 80px;
    width: 220px;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* -webkit-box-pack: justify;
    -ms-flex-pack: justify; */
    /* justify-content: space-between; */
    /* background-image: linear-gradient(to bottom, #e5e5e5, #ffffff); */
    background: linear-gradient(
        180deg,
        #e5e5e5 0%,
        rgba(229, 229, 229, 0) 100%
    );
    width: 301px;
    padding: 0px;
    margin: 15px 7px 0px 0px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    min-height: 70vh;
    /* sidebar head */
    /* sidebar body */
    /* sidebar footer */
}

.sidebar-profile {
    width: 100%;
    display: block;
    align-content: center;
    padding: 25px 25px 10px 30px;
}

.sidebar-profile .profile-img {
    width: 100%;
}

.sidebar-profile .profile-img .user-profile-image {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    display: block;
    margin: 0px auto;
}

.sidebar-profile .profile-information {
    align-content: center;
    width: 100%;
    margin: 0px auto;
    padding-top: 15px;
}

.sidebar-profile .profile-information span {
    display: block;
    text-align: center;
    line-height: 20px;
}

.sidebar-profile .profile-information label {
    font-weight: 700;
    padding-right: 5px;
}

.sidebar-profile .profile-information span.user-name {
    font-size: 16px;
    font-weight: 700;
}

.sidebar-menu-container {
    padding-top: 20px;
}

.main_menu ul {
    width: 301px;
    list-style: none;
}

ul.main-menu li {
    width: 301px;
    display: block;
    padding: 0px 10px 10px 40px;
    line-height: 52px;
    position: relative;
}

/* ul.main-menu li.active {
    width: 301px;
    padding: 0px 10px 10px 40px;
    line-height: 52px;
    font-size: 16px;
    position: relative;
    background-color: #ffffff;
    border-left: 17px #32a149;
} */

ul.main-menu li a,
ul.main-menu li a:link {
    display: block;
    line-height: 30px;
    padding: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

ul.main-menu li a:active,
ul.main-menu li a:hover {
    background-color: #ffffff;
    border-left: 17px #32a149;
}

.main {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    width: 100%;
}

.main-content {
    background-color: #ffffff;
    border-radius: 0px;
    padding: 10px 20px 20px 20px;
    margin: 0px 30px 0px 0px;
    min-height: 70vh;
    width: 100%;
}

.main-title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 34px;
}

.main-title-wrapper h2 {
    margin-bottom: 0;
}

/*Login Page*/
/* .header-page-header {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    position: fixed;
} */

.login-main-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    margin: 140px auto 140px;
}

.login-main {
    display: block;
    width: 462px;
    height: 360px;
    margin: 0px auto;
    background: #ffffff;
    box-shadow: 0px 0.25px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.login-main-content {
    width: 100%;
    display: block;
    padding: 20px 35px;
}

.login-main-content .item {
    width: 100%;
    display: block;
    margin: 25px 0px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.login-main-content .item a:link,
.login-main-content .item a:hover {
    display: block;
    cursor: pointer;
}

.item-login-logo {
    margin: 10px auto 20px;
    padding-bottom: 10px;
    color: #000;
    border-bottom: 1px solid #ccc;
}

.btn-login {
    width: 100%;
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
    padding: 15px;
    border: none;
}

.btn-beneficiary {
    background-color: #0c0280;
}
.btn-govt-employee {
    background-color: #29a74a;
}

.item-login-end {
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
}

/**Admin Login Page*/
.admin-login {
    width: 100%;
    display: block;
    padding: 20px 35px;
}

.admin-login .item {
    width: 100%;
    display: block;
    margin: 25px 0px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.admin-login .item-login-logo {
    margin: 10px auto 20px;
    padding-bottom: 10px;
    color: #000;
    border-bottom: 1px solid #ccc;
}

.admin-login .btn-login {
    width: 100%;
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
    padding: 15px;
    border: none;
}

.admin-login .admin-login-logo {
    width: 100%;
    margin: 10px auto;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.admin-login-form {
    padding-bottom: 20px;
}

.admin-login-form > div {
    padding: 5px 0px 10px;
}

.admin-login-form > div > label {
    width: 80px;
    display: inline-block;
}

.login-button-container .login-button {
    width: 100%;
    height: 35px;
    line-height: 28px;
    background: #399a48;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form-input {
    display: inline-block;
    padding: 5px;
    margin: 10px 0px;
    font-size: 14px;
    line-height: 20px;
    color: #212529;
    background-color: #fff;
    border: 1px solid #eeeeee;
    min-width: 250px;
    max-width: 300px;
}

/*Menu Icon*/
.main-menu li > a > .icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-menu li > a > span.icon,
.main-menu li > a > .fa {
    margin-right: 10px;
}

.ecommerce {
    width: 18px;
    height: 18px;
    background-image: url("../../img/icon/ecommerce.png");
}

.society {
    width: 18px;
    height: 18px;
    background-image: url("../../img/icon/society.png");
}

.profile {
    width: 18px;
    height: 18px;
    background-image: url("../../img/icon/profile.png");
}

.training {
    width: 18px;
    height: 18px;
    background-image: url("../../img/icon/training.png");
}

.loan {
    width: 18px;
    height: 18px;
    background-image: url("../../img/icon/loan.png");
}

/*Form*/
.m-portlet.m-portlet--tabs .m-portlet__head {
    padding: 0 2.2rem;
}
.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools {
    padding: 0;
}
.m-portlet.m-portlet--tabs
    .m-portlet__head
    .m-portlet__head-tools
    .m-tabs-line {
    position: relative;
    height: 100%;
    margin: 0;
    border-bottom-color: transparent;
    bottom: -1px;
}
.m-portlet.m-portlet--tabs
    .m-portlet__head
    .m-portlet__head-tools
    .m-tabs-line
    .m-tabs__link {
    height: 100%;
    padding: 1.7rem 0 1.5rem 0;
}
.m-portlet.m-portlet--tabs
    .m-portlet__head
    .m-portlet__head-tools
    .m-tabs-line.m-tabs-line--2x {
    bottom: -3px;
}
.m-portlet.m-portlet--last {
    margin-bottom: 0;
}
.m-portlet.m-portlet--head-sm .m-portlet__head {
    height: 4.1rem;
}
.m-portlet.m-portlet--head-sm .m-portlet__head .m-portlet__head-tools {
    padding: 0;
}
.m-portlet.m-portlet--head-sm
    .m-portlet__head
    .m-portlet__head-tools
    .m-tabs-line
    .m-tabs__link {
    height: 100%;
    padding: 1.2rem 0 1.2rem 0;
}
.m-portlet.m-portlet--head-sm .m-portlet__body,
.m-portlet.m-portlet--head-sm .m-portlet__foot {
    padding: 0px;
}

#personal-info,
#educational-info,
#workplace-info,
#communication-info {
    margin: 20px;
}

.nav-link .fa {
    padding-right: 5px;
}

.form-control {
    padding: 0.25rem 0.75rem;
    margin: 0.25rem 0 0.25rem;
    font-size: 16px;
    line-height: 21px;
    color: #212529;
    background-color: #f8fafc;
}

.form-control-file,
.form-control-range {
    display: block;
    width: 100%;
}

.message-container {
    width: 100%;
    display: block;
}

/*Alert Message*/
.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.85rem 1.25rem;
    background: none;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 15px;
    color: #680808;
    border: none;
    background: none;
    cursor: pointer;
}

.alert-danger {
    color: #ffffff;
    background-color: #da1717;
    border-color: #f5c6cb;
}

.alert {
    position: relative;
    padding: 0.6rem 1.25rem;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.fadeIn {
    animation-name: fadeIn;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

/*Form*/
.m-portlet__head {
    margin: 10px 0px 20px;
}

.m-form {
    margin: 10px;
}

.m-portlet
    .m-portlet__head
    .m-portlet__head-caption
    .m-portlet__head-title
    .m-portlet__head-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "SolaimanLipi", Arial, sans-serif !important;
}

.m-form__actions {
    padding: 15px 0px;
}

.btn-form-submit {
    color: #fff;
    background-color: #29a74a;
    margin-right: 15px;
}

.btn-form-submit:hover {
    color: #fff;
    background-color: #29a74a;
}

.new-item-btn-container {
    text-align: right;
    padding-right: 15px;
    margin-bottom: 10px;
}

.btn-new-item {
    color: #fff;
    background-color: #29a74a;
    border-color: #29a74a;
}

.edit-file-width {
    width: 80%;
    display: inline-block;
}

.img-align-right {
    display: inline-block;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
.well {
    min-height: 20px;
    padding: 15px;
    margin-bottom: 0px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-legend {
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
    margin-bottom: 20px;
    line-height: inherit;
}

.component-list .checkbox-item {
    display: inline-block;
}

.component-list .checkbox-value {
    padding-right: 20px;
}

.table.dataTable {
    width: 1150px;
}

/**Admin Dashboard*/
.main-title {
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    margin-top: 10px;
}

.btn-component-link {
    background-color: #29a74a;
    font-size: 14px;
    color: #ffffff;
    margin-top: 20px;
    padding: 5px 10px;
}
