@font-face {
    font-family: "SolaimanLipi";
    src: url("SolaimanLipi.eot");
    src: url("SolaimanLipi.eot?#iefix") format("embedded-opentype"),
        url("SolaimanLipi.woff") format("woff"),
        url("SolaimanLipi.ttf") format("truetype"),
        url("SolaimanLipi.svg#Levenim") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontAwesome";
    src: url(/fonts/vendor/font-awesome/fontawesome-webfont.eot?8b43027f47b20503057dfbbaa9401fef);
    src: url(/fonts/vendor/font-awesome/fontawesome-webfont.eot?8b43027f47b20503057dfbbaa9401fef?#iefix&v=4.7.0)
            format("embedded-opentype"),
        url(/fonts/vendor/font-awesome/fontawesome-webfont.woff2?20fd1704ea223900efa9fd4e869efb08)
            format("woff2"),
        url(/fonts/vendor/font-awesome/fontawesome-webfont.woff?f691f37e57f04c152e2315ab7dbad881)
            format("woff"),
        url(/fonts/vendor/font-awesome/fontawesome-webfont.ttf?1e59d2330b4c6deb84b340635ed36249)
            format("truetype"),
        url(/fonts/vendor/font-awesome/fontawesome-webfont.svg?c1e38fd9e0e74ba58f7a2b77ef29fdd3#fontawesomeregular)
            format("svg");
    font-weight: normal;
    font-style: normal;
}
